[user]
	name = dshrader38
	email = dshrader38@gmail.com
[includeIf "gitdir/i:~/Development/whirlpool/"]
    path = ~/Development/whirlpool/.gitconfig
[includeIf "gitdir/i:~/Development/nyuib/"]
    path = ~/Development/nyuib/.gitconfig
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global
[help]
	autocorrect = 1
[color]
	ui = true
[http]
	sslverify = false
[credential]
	helper = cache --timeout=3600
[alias]
	b = branch
	ba = branch -a
	bd = branch -d
	ci = commit
	co = checkout
	d = diff
	st = status
	lg = log --graph --decorate --pretty=oneline
	rpo = remote prune origin
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "https://"]
	insteadOf = git://
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
